* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #E7e7e7;
}

.container {
    margin: 15vw auto;
    width: 100%;
    text-align: center;
}

.container h1 {
    padding-bottom: 20px;
}

.container input, button {
    padding: 10px;
    font-size: 1.5em;
}

.container ul {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container ul li {
    margin: 20px 0;
    cursor: pointer;
}

.completado {
    text-decoration: line-through;
}
