@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Variaveis globais */

:root {
    --fundo: rgb(70, 142, 236);
    --fundo-formulario: white;
    --fundo-botao: #E6BF55;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}



body {
    background-color: var(--fundo);
}

section {
    background-color: var(--fundo-formulario);
    width: 40vw;
    margin: 6vw auto;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.384);
}

section h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 2em;
    text-transform: uppercase;
}

section p, 
section form div {
    padding-bottom: 15px;
}

section form div label {
    display: block;
}

section form div input {
    width: 18vw;
    padding: 5px;
}

section form button {
    background-color: var(--fundo-botao);
    padding: 6px 10px;
    width: 100px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: black;
    font-weight: bold;
}

section form {
    margin-left: 20px;
}